{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.projects {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.project {
			border: 2px solid lightgrey;
			margin-right: 2%;
			border-radius: 3%;
			padding: 5%;
		}
		.images {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.img_1 {
			width: 50%;
		}
		.img_2 {
			width: 50%;
		}
		.links {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	</style>

	<div class="example-wrapper">
		<h1 align='center'>{{ controller_name }}
			✅</h1>
		<!-- Liste des projets -->
		<div class='projects'>
			{% for project in projects %}
				<!-- Projet -->
				<div class='project'>
					<h2>{{ project.titre}}</h2>
					<p>{{project.description}}</p>
					<!-- Vérif des images (présentes ou pas) -->
					{% if project.imgUrl1 %}
						<div class='images'>
							<div class='img_1'>
								<img src='{{project.imgUrl1}}' alt='Image 1 du projet {{project.titre}}'>
							</div>
						</div>
					{% elseif project.imgUrl2 %}
						<div class='images'>
							<div class='img_1'>
								<img src='{{project.imgUrl2}}' alt='Image 1 du projet {{project.titre}}'>
							</div>
						</div>
					{% else %}
						<div class='images'></div>
					{% endif %}
					<!-- Links -->
					<div class='links'>
						{% if project.repourl %}
							<div class='repo'>
								<a href='{{project.repourl}}'>Lien du repo</a>
							</div>
						{% elseif project.websiteurl %}
							<div class='repo'>
								<a href='{{project.websiteurl}}'>Lien du site</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}

		</div>
	{% endblock %}
