<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

<style>

    header {
        border-bottom: 2px solid lightgrey;
    }
    nav {
        width: 400px;
        margin: auto;
    }
    nav ul {
        display: inline-flex;
        margin-right: 5%;
    }

    nav ul li {
        margin-right: 20%;
        list-style-type: none;
    }

    nav ul li a {
    color: black;
    font-size: 20px;
    padding: 14px 16px;
    }
</style>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href='/'>Accueil</a></li>
                <li><a href='/portfolio'>Portfolio</a></li>
            </ul>
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
